.DatePickerSlidePlace {
	position: relative;
	overflow: hidden;

	.slide-item {
		transition: transform 200ms;

		&.slide-left {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
		}
		&.slide-right {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(100%);
		}
	}
}

.MonthList {
	@apply grid grid-cols-3 gap-x-4 gap-y-2 text-[0.75rem] ;

	.month {
		@apply text-center py-2 px-2 leading-none cursor-pointer rounded-full hover:bg-indigo-100;
		
		&.selected {
			@apply bg-indigo-500 text-white;
		}
	}
}